@import "tailwindcss";

:root {
  --background: #ffffff;
  --secondary: #67b542;
  --buttonColor: #ff5800;
  --textHeading: #000d07;
  --textColor: #0a1600;
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-montserrat: "Montserrat", ui-sans-serif, system-ui, sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-button: var(--buttonColor);
  --color-textHeading: var(--textHeading);
  --color-textColor: var(--textColor);
  --font-sans: var(--font-inter);
  --font-alt: var(--font-montserrat);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
